body {
  background-color: #f3d8f3;
  font-family: 'Times New Roman', Times, serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.jumbotron{
  background-color:  #732673;
}

.btn{
  background-color:#7d3f98;
    color: white;
}